.aboutText {
	overflow-y: scroll;
	max-width: 60vw;
	padding: 1vh 1vw;
	margin-left: 1vw;
	margin-top: 5vh;
	max-height: 80vh;
	overflow-y: scroll;
	border: 2px solid #000;
	font-size: 1.8rem;
	line-height: 2.5rem;
	overflow-x: hidden;
}

.aboutText > p  {
	margin: 0;
}

.aboutText > p > a {
	border-bottom: 3px solid;
}

.aboutText > p.aboutLinks {
	margin-bottom: 3vh;
}

.aboutText > p.aboutLinks  > a {
	border-bottom: 3px solid;
	margin-right: 1vw;
}


/*------------------------RESPONSIVE------------------------*/


@media screen and (max-width: 900px) {

	.aboutText {
		max-width: 90vw;
		font-size: 1.3rem;
		line-height: 2rem;
	}

}
