/*------------------------general------------------------*/
@font-face {
    font-family: 'Inter UI';
	src: url('https://rsms.me/inter/inter-ui.css')
}

@font-face {
	font-family: 'Unica';
    src: url(unica.ttf);
}


body {
	font-family: 'Unica', 'system-ui', sans-serif;
	font-size: 2.9rem;
	line-height: 4.2rem;
	overflow-y: scroll;
	cursor: url(cursor.png), auto;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	cursor: url(cursorHover.png), auto;
}

a:visited {
	color: #000;
}

/*------------------------index------------------------*/


.index {
	max-width: 90vw;
	margin: 0 auto;
	max-height: 79vh;
	overflow-y: scroll;
}

.index > .postThumbnail-hidden {
  display: none;
}

.index  > .postThumbnail {
  display: block;
	border-bottom: 5px solid #fff;
  width: 89vw;
}

.index  > .postThumbnail:hover {
	border-bottom: 5px solid;
}

.index  > .postThumbnail > .tagThumbnail {
	float: right;
  display: block;
}

/*------------------------about------------------------*/

.about {
	max-width: 90vw;
	margin: 0 auto;
  padding-top: 3vh;
  /* padding-bottom: 4vh; */
}

.about > a {
	color: red;
}

/*------------------------RESPONSIVE------------------------*/


@media screen and (max-width: 415px) {
  body {
    font-size: 2rem;
  	line-height: 3rem;
  }

  .tagThumbnail {
    display: none;
  }
}
