/*------------------------general------------------------*/
@import url('https://rsms.me/inter/inter.css');


@font-face {
	font-family: 'Unica';
    src: url(unica.ttf);
}


body {
	font-family: 'Inter', 'Unica', sans-serif;
	font-size: 3rem;
	line-height: 4rem;
	overflow-y: scroll;
	cursor: url(cursor.png), auto;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	cursor: url(cursorHover.png), auto;
}

a:visited {
	color: #000;
}

/*------------------------index------------------------*/


.index {
	max-width: 50vw;
	padding: 1vh 1vw;
	margin-top: 5vh;
	margin-left: 1vw;
	max-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid #000;
	text-transform: uppercase;
}

.index > .postThumbnail-hidden {
  display: none;
}

.index  > .postThumbnail {
  display: block;
	border-bottom: 3px solid #fff;
  width: auto;
	word-wrap: break-word;
}

.index  > .postThumbnail:hover {
	border-bottom: 3px solid;
}


.index  > .postThumbnail > .tagThumbnail {
	float: right;
	font-size: 2rem;
	text-transform: none;
}

/*------------------------about------------------------*/

.about {
	max-width: 90vw;
  margin-top: 3vh;
	margin-left: 1vw;
  /* padding-bottom: 4vh; */
}

.about > a {
	/* color: #ed521e; */
	font-weight: 600;
	font-size: 2rem;
}

/*------------------------RESPONSIVE------------------------*/


@media screen and (max-width: 900px) {
  body {
    font-size: 2.4rem;
  	line-height: 3.2rem;
  }

  .index  > .postThumbnail > .tagThumbnail {
    display: none;
  }
}
