
.postMain {
	overflow-y: scroll;
	max-width: 60vw;
	padding: 1vh 1vw;
	margin-left: 1vw;
	margin-top: 5vh;
	max-height: 80vh;
	overflow-y: scroll;
	border: 2px solid #000;
	font-size: 1.8rem;
	line-height: 2.5rem;
	overflow-x: hidden;
}

.postBody > p > img {
	/* margin: 0 auto; */
	display: block;
	width: 100%;
}


.postMain > .postBody {
	color: #000;
	text-align: left;
}

.postBody > p  > a {
	border-bottom: 3px solid;
}

.postBody > ul {
	margin: 0;
}

.postBody > ul > li , .postBody > ul > li > p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 900px) {
	.postBody > p > img {
		width: 90vw;
	}
}


.caption {
	font-size: 1.2rem;
	display: block;
	/* border: 1px solid; */
	padding-left: 20vw;
}


.back {
	max-width: 90vw;
  margin-top: 3vh;
	margin-left: 1vw;
  /* padding-bottom: 4vh; */
}

.back > a {
	/* color: #ed521e; */
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-weight: 600;
	text-decoration: underline;
}


/*------------------------RESPONSIVE------------------------*/


@media screen and (max-width: 900px) {

	.postMain {
		max-width: 90vw;
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.back > a {
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 2rem;
	}

}

/*------------------------ANIMATION------------------------*/

.index {
  /* animation: colors  10s  ease-out infinite; */
}

@keyframes colors {
	0% {
    background: #fff;
  }
  50% {
    background: #BACBCC;
  }
  100% {
    background: #F4F4F4;
  }
}
@keyframes placement {
	0% {
		transform: translate(0px,0px);
  }
  50% {
		transform: translate(1px,1px);
  }
  100% {
		transform: translate(0px,0px);
  }
}
