.postMain {
	margin: 2vh 0;
	/*border: 1px solid red;*/
	line-height: 1.5;
	max-width: 80vw;
	margin: 0 auto;
	text-align: center;
}

.postMain > .postTitle {
	/*font-weight: bold;*/
	text-transform: uppercase;
}

.postMain > .postBody {
	color: #000;
}

.postBody > p  > a {
	font-weight: 500;
}