
.pageTitle {
	width: 90vw;
	margin: 0 auto;
	/* height: 7vh; */
	vertical-align: middle;
	padding-top: 6vh;
}

.pageTitle > a {
  border-bottom: 5px solid;
}

.postMain {
	/*border: 1px solid red;*/
	max-width: 90vw;
	margin: 0 auto;
	max-height: 70vh;
	overflow-y: scroll;
}

.postMain > .postTitle {
	/*font-weight: bold;*/
	text-transform: uppercase;
	text-align: center;
}

.postMain > .postBody {
	color: #000;
	text-align: left;
	margin-top: 8vh;
	margin-bottom: 8vh;
	/*border: 1px solid red;*/

}

.postBody > p  > a {
	border-bottom: 5px solid;
}

.postBody > ul {
	margin: 0;
}

.postBody > ul > li , .postBody > ul > li > p {
	margin: 0;
	padding: 0;
}
